@tailwind base;
@tailwind components;
@tailwind utilities;

table tr th.sortable:hover {
  cursor: pointer;
}

img.image_preview {
    max-width: 30px;
}

img.product_preview {
    max-width: 500px;
}
